.titulo-imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1-modelado {
    font-family: "Sora", sans-serif;
    font-weight: 800;
    font-size: 98px;
    color: var(--COLOR-PRINCIPAL-MODELADO-3D);
    margin-bottom: 40px;
    margin-top: 70px;
    line-height: 1.1;
}

.imagensimbolo {
    display: flex;
    justify-content: center;
}

.imagensimbolo img {
    width: 100px;
    margin-bottom: 80px;
}

.container-modelado {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: -50px;
    height: 40px;
    /* altura fija */
    padding: 0 14px;
}

.buton-modelado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--COLOR-PRINCIPAL-TIPOGRAFIA);
    margin: 10px;
    padding: 6px 14px;
    border: 2px solid var(--COLOR-PRINCIPAL-MODELADO-3D);
    border-radius: 80px;
    line-height: 1;
    cursor: pointer;
    text-align:center ;
    transition: all 0.3s ease;
    flex-grow: 0.001;
}
.buton-modelado button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.buton-modelado:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(63, 81, 181, 0.5);
}
.buton-modelado.activo {
    background: #2f2fff;
    color: white;
}

.buton-modelado:hover {
    background-color: var(--COLOR-PRINCIPAL-MODELADO-3D);
    color: var(--COLOR-PRINCIPAL-TIPOGRAFIA);
}

.container-imagenes {
    display: grid;
    grid-template-columns: 1fr 3fr 0.3fr 3fr 0.3fr 3fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . ."
        ". imagen1 . imagen2 . imagen3 ."
        ". . . . . . ."
        ". imagen4 . imagen5 . imagen6 ."
        ". . . . . . .";
}

.container-imagenes img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 55px;
    border: 5px solid var(--COLOR-PRINCIPAL-MODELADO-3D);
    border-radius: 70px;
}

.container-escenarios {
    display: grid;
    grid-template-columns: 1fr 3fr 0.3fr 3fr 0.3fr 3fr 1fr;
    grid-template-rows: 0.12fr 1fr 0.2fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . ."
        ". imagen1 . imagen2 . imagen3 ."
        ". . . . . . ."
        ". imagen4 . imagen5 . imagen6 ."
        ". . . . . . .";

}

.container-escenarios img {
    transition: transform 0.3s ease;
    width: 100%;              /* ocupa todo el ancho del contenedor */
    height: 500px;            /* 🔥 alto fijo para todas */
    object-fit: cover;        /* rellena el cuadro, recorta si es necesario */
    border-radius: 70px;
    border: 5px solid var(--COLOR-PRINCIPAL-MODELADO-3D);
}


.container-objetos {
    display: grid;
    grid-template-columns: 1fr 3fr 0.3fr 3fr 0.3fr 3fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . ."
        ". imagen1 . imagen2 . imagen3 ."
        ". . . . . . ."
        ". imagen4 . imagen5 . imagen6 ."
        ". . . . . . .";

}

.container-objetos img {
    transition: transform 0.3s ease;
    width: 100%;              
    height: 500px;            
    object-fit: cover;        
    border-radius: 70px;
    border: 5px solid var(--COLOR-PRINCIPAL-MODELADO-3D);
}

.container-personajes {
    display: grid;
    grid-template-columns: 1fr 3fr 0.3fr 3fr 0.3fr 3fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . ."
        ". imagen1 . imagen2 . imagen3 ."
        ". . . . . . ."
        ". imagen4 . imagen5 . imagen6 ."
        ". . . . . . .";
}

.container-personajes img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 55px;
    border: 5px solid var(--COLOR-PRINCIPAL-MODELADO-3D);
    border-radius: 70px;
}

.imagen1 {
    grid-area: imagen1;
}

.imagen2 {
    grid-area: imagen2;
}

.imagen3 {
    grid-area: imagen3;
}


.imagen4 {
    grid-area: imagen4;
}


.imagen5 {
    grid-area: imagen5;
}


.imagen6 {
    grid-area: imagen6;
}